<h1>Welcome to example.com, <%= @user.username %></h1>
    <p>
      You have successfully signed up to 99 Cats,
      your username is: <%= @user.username %>.<br />
    </p>

    <p>Thanks for joining and enjoy renting our cats!</p>
